@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-[Raleway];
    }

    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 237px;
}

.colorGrName {
    background: -webkit-linear-gradient(rgb(248, 86, 186), #56a9dc);
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
}

.colorGrCarrier {
    background: -webkit-linear-gradient(rgb(163, 206, 220), #5c576d);
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
}



.nav a{
    padding-bottom: 4px;
    position: relative;
    width: fit-content;

}
.nav a::before {
content: "";
width: 0;
height: 2px;
background-color: rgb(219, 39, 119);;
position: absolute;
transition: all 150ms linear; ;

transform-origin:left ;
bottom: 0;
}
.nav a.active::before {

width: 100%;



}